<form [formGroup]="creaCorsoForm" (ngSubmit)="onSubmit()">
  <h3>Crea nuovo corso</h3>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" formControlName="nome" id="nome" />
  </div>
  <div class="mb-3">
    <label for="descrizione" class="form-label">Descrizione</label>
    <input
      type="text"
      class="form-control"
      formControlName="descrizione"
      id="descrizione"
    />
  </div>
  <div class="mb-3">
    <label for="immagine" class="form-label">Immagine (URL)</label>
    <input
      type="text"
      class="form-control"
      formControlName="immagine"
      id="immagine"
    />
  </div>
  <div class="mb-3">
    <label for="istruttore" class="form-label">Istruttore</label>
    <input
      type="text"
      class="form-control"
      formControlName="istruttore"
      id="istruttore"
    />
  </div>
  <div class="mb-3">
    <label for="durata" class="form-label">Durata</label>
    <input
      type="number"
      class="form-control"
      formControlName="durata"
      id="durata"
    />
  </div>
  <div class="mb-3">
    <label for="capacita_massima" class="form-label">Capacità massima</label>
    <input
      type="number"
      class="form-control"
      formControlName="capacita_massima"
      id="capacita_massima"
    />
  </div>
  <div class="btn-container">
    <button class="btn btn-success">Crea</button>
  </div>
</form>
