<div class="container">
  <section>
    <h2>Chi Siamo</h2>
    <p>
      AngFitness è più di una palestra: è una comunità dedicata al benessere e
      alla crescita personale. Con un ambiente accogliente e professionale, ci
      impegniamo ad aiutarti a raggiungere i tuoi obiettivi di fitness,
      qualunque essi siano.
    </p>
    <p>
      Che tu voglia migliorare la tua forma fisica, aumentare la forza o
      semplicemente rilassarti con un po' di yoga, abbiamo il corso giusto per
      te!
    </p>
  </section>

  <section>
    <h2>I Nostri Corsi</h2>
    <p>
      Tutti i corsi sono disponibili solo su prenotazione. Assicurati il tuo
      posto e inizia il tuo percorso di fitness con noi!
    </p>
  </section>

  <div class="cta">
    <a routerLink="/corsi">Prenota il tuo corso</a>
    <a routerLink="">Torna alla Home</a>
  </div>
</div>
